.portfolio_Container{
  display:flex;
  flex-direction: column;
  color:white;
  background-color:black;
  height:75vh;
}

.carousel_container{  
  margin: 55px 480px;
}

@media (max-width:600px){
  .carousel_container{  
    margin: 40px 5px;
  } 
  .portfolio_Container{
    height:45vh;
  }
}