.Header_container{
  background-color:rgb(230, 227, 227);
  display: flex;  
  float:right;
  margin:15px;  
}

.logo{
  margin:25px;
  font-family: 'Luckiest Guy', cursive;
  font-size:25px;
}
.App__header{
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  background-color:rgb(230, 227, 227);
}
.Header_buttons a{
  font-size:20px;
  
  padding:0.35em 1.2em;
  /* border:0.1em solid black; */
  background-color:gray;
  font-family:'Roboto',sans-serif;
  color:white;
  /* padding:5px; */
  margin:3px 8px;
  text-decoration: none;
}

.Header_buttons{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  font-size:20px;
  font-family:'Roboto',sans-serif;
}




.Header_buttons a:hover{
  font-size: 25px;
  
}

@media (max-width:600px){
  .Header{
    flex-direction: column;
  }
  .Header__logged-in{
    flex-direction: column;
    width:100%;
  }
  .Header a{
    width:100%;
    padding:0px;
    text-align: center;
  }
  .Header__not-logged-in{
    flex-direction: column;
  }

  .Header_buttons{
    display: flex;
    flex-direction: column;
    
    font-size:20px;
    font-family:'Roboto',sans-serif;
  }

}