.Header_container{
  background-color:white;
  display: flex;  
  float:right;
  
  
  
}

.Header_buttons a{
  font-size:20px;
  margin-bottom:25px;
  padding:0.35em 1.2em;
  border:0.1em solid black;
  font-family:'Roboto',sans-serif;
  color:black;
  padding:5px;
  text-decoration: none;
}

.Header_buttons{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  font-size:20px;
  font-family:'Roboto',sans-serif;
}




.Header_buttons a:hover{
  font-size: 25px;
  
}

@media (max-width:600px){
  .Header{
    flex-direction: column;
  }
  .Header__logged-in{
    flex-direction: column;
    width:100%;
  }
  .Header a{
    width:100%;
    padding:0px;
    text-align: center;
  }
  .Header__not-logged-in{
    flex-direction: column;
  }

}