
/* .test_link{
  opacity: 0;
  transition: all ease 0.8s;
  
  text-decoration: none;
} */

.test_link{
  float:right;
  margin: 5px auto;
  color:white;
}

.test_link:hover{
  opacity: 1;
}
.intro{
  color:white;
}
.icon_carousel{  
  width:20px !important;
  height:20px;
  color:white;
  margin-left:16px;
  margin-right:0;
  border-radius:100%;  
  text-align:right;  
  list-style:none;
}

@media(max-width:600px){
  .test_link{
   
    margin: 5px 30px;
  }
}