.AboutMe__text{
  font-size: 20px;

  color:gray;
  margin:50px 300px;
}

.AboutMe_container{
  background-color: black;
  min-height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.AboutMe__selfie{
  width:15%;
  border-top-left-radius: 50% 50%;
  border-top-right-radius: 50% 50%;
  border-bottom-right-radius: 50% 50%;
  border-bottom-left-radius: 50% 50%;
  
  
}

.AboutMe_selfie_container{  
  text-align: center;
  margin:20px auto;
  background-color:black;
}