.AboutMe__text{
  
  Font-Family: 'Lato', Sans-Serif;
  Font-Size: 20px;
  color:gray;
  margin:50px 300px;
}

.AboutMe_container{
  background-color: black;
  min-height: 70vh;
  display: flex;
  
  flex-direction: column;
  justify-content: center;
}

.AboutMe__selfie{
  width:25%;
  border-top-left-radius: 50% 50%;
  border-top-right-radius: 50% 50%;
  border-bottom-right-radius: 50% 50%;
  border-bottom-left-radius: 50% 50%;
  
  
}

.AboutMe_selfie_container{  
  text-align: center;
  margin:20px auto;
  background-color:black;
}

@media(max-width:600px){
  .AboutMe__text{
    margin:10px 20px;
    font-size: 15px;
  }

  .AboutMe_container{
    padding:10px;
    height:90vh;
  }

  .AboutMe__selfie{
    width:35%;
  }

  .AboutMe_selfie_container{  
    text-align: center;
    margin:25px auto;
    background-color:black;
  }
}